.hud {
  max-width: 300px;
  width: 20%;
  background-color: rgba(1,1,1,.2);
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  opacity: 0;
  z-index: 2;
  transition: all 1s ease;
  
  .nodeContainer {
    margin: 60px 20px 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    
    .level {
      display: flex;
      justify-content: space-around;
      margin-bottom: 50px;
      width: 100%;

      .node {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 auto;
        background-color: #84f0ab;
        
        &.root {
          background-color: #A8C0F0;
        }
      }
    }
  }
}
