.hud {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: 300px;
  width: 20%;
  background-color: rgba(1,1,1,.2);
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  opacity: 0;
  z-index: 2;
  transition: all 1s ease;
  
  .controls {
    margin: 60px 25px 5px 25px;
    position: relative;

    .dg {
      margin-bottom: 30px;
    }

    .buttonContainer {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      
      a {
        padding: 10px 30px;
        background-color: #000;
      }
    }
  }

  .nodeContainer {
    margin: 5px 25px 5px 25px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    
    .level {
      display: flex;
      justify-content: space-around;
      margin-bottom: 30px;
      width: 100%;
      &:last-of-type {
        margin-bottom: 0;
      }

      .node {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 auto;
        background-color: #84f0ab;
        
        &.root {
          background-color: #A8C0F0;
        }

        &.target {
          background-color: #F0D8A8;
        }

        &.current {
          background-color: #F0F0A8;
        }
      }
    }
  }

  .tips {
    margin: 5px 25px 25px 25px;
    ul {
      padding: 0 0 0 10px;
      margin: 0;
      li {
        font-size: 14px;
      }
    }
  }
}
