@font-face {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/HelveticaNeue.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-style: normal;
  src: url("fonts/HelveticaNeue-Light.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-style: italic;
  src: url("fonts/HelveticaNeue-Italic.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Neue";
  font-style: 200;
  font-weight: italic;
  src: url("fonts/HelveticaNeue-LightItalic.woff") format("woff");
}
