$slateblu: #6a7989;
$lightgray: #d0d6d6;
$accent: #333;
$animDur: 2s;

header {
  div.box.two {
    background-color: $accent;
    opacity: 0.7;
    animation-iteration-count: infinite;
    animation-duration: $animDur;
    animation-direction: alternate;
    animation-name: changeOpacity;
  }
  @keyframes changeOpacity {
    from { opacity: 0.7 }
    to { opacity: 0.8 }
  }
}
