$slateblu: #6a7989;
$lightgray: #d0d6d6;
$accent: #777;

$prismHeight: 2rem;
$prismWidth: 2rem;
$prismWidthLarger: 3rem;
$prismGroupHeight: 100%;
$nPrisms: 9;
$nPrismGroups: 32;
$time: 4s;
$animDur: 2s;

header {
  div.box {
    width: 100%;
    height: 100%;
    background-color: $accent;
    z-index: 1;
    position: relative;
    opacity: 0.7;
    transition: opacity 1s ease;
    background-image: linear-gradient(45deg, #333, rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(45deg, #333, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(45deg, #333, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(45deg, #333, rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(45deg, #333, rgba(255, 255, 255, 0));
    &:hover {
      opacity: 0.0;
    }
    div.prisms-container {
      width: 101%;
      height: 100%;
      margin-left: -.25rem;
      pointer-events: none;
      div.prism-group {
        height: $prismGroupHeight;
        width: $prismWidth;
        margin: 0;
        display: inline-block;
        @for $i from 0 to $nPrismGroups {
          &:nth-child(#{$i + 1}) {

            div.prism {
              @for $j from 0 to $nPrisms {
                &:nth-child(#{$j + 1}) {
                  animation-delay: ($j*$time/$nPrisms) + ($i*$time/$nPrismGroups), ($j*$time/$nPrisms) + ($i*$time/$nPrismGroups);

                }
              }
            }
          }
        }

        div.prism {
          transform: rotate(45deg);
          width: $prismWidth;
          height: $prismHeight;
          animation-name: growth;
          background-color: $lightgray;
          animation-iteration-count: infinite;
          animation-duration: $animDur;
          animation-direction: alternate;
          border: 1px solid transparent;
        }
      }
    }
    @keyframes growth {
      from { width: $prismWidth; height: $prismHeight; }
      to { width: $prismWidthLarger; height: $prismWidthLarger; }
    }
  }
}
