$slateblu: #6a7989;
$lightgray: #d0d6d6;
$maxWidth: 960px;

@import './headerBox.scss';
@import './previewContainer.scss';

html {
  body {
    margin: 0;
    padding: 0;
    background-color: #d0d6d6;
    color: #DDE2E2;
    overflow-x: hidden;
    a {
      text-decoration: none;
    }
    div.fullscreen {
      position: absolute;
      top: 0;
      left: 100vw;
      height: 100%;
      width: 100%;
      background-color: #222;
      z-index: 2;
      transition: all .5s ease;
      &.active {
        left: 0;
        div.close-container {
          div.close {
            div.line {
              width: 22px;
            }
            div.line:first-of-type {
              transform: rotate(45deg) translateY(7px) translateX(5px);
            }
            div.line:nth-of-type(2) {
              width: 0;
            }
            div.line:last-of-type {
              transform: rotate(-45deg) translateY(-1px) translateX(-2px);
            }
          }
        }
      }
      div.close-container {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem 1rem;
        z-index: 2;
        cursor: pointer;
        div.close {
          width: 20px;
          height: 20px;
          div.line {
            width: 15px;
            height: 2px;
            display: block;
            margin-bottom: 2px;
            background-color: #eee;
            transform: rotate(0deg);
            transition: all .2s ease;
          }
        }
      }
    }
    header {
      width: 90%;
      max-width: $maxWidth;
      height: 17rem;
      margin: 2rem auto 0 auto;
    }
    section.content {
      width: 90%;
      max-width: $maxWidth;
      margin: 0 auto;
      z-index: 1;
      overflow: hidden;
      position: relative;
    }
  }
}
