html {
  body {
    margin: 0;
    padding: 0;
    background-color: #d0d6d6;
    color: #DDE2E2;
    a {
      text-decoration: none;
    }
    section.content {
      width: 90%;
      max-width: 1080px;
      margin: 0 auto;
      div.previews-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div.preview {
          background-image: url('https://s.graphiq.com/sites/default/files/stories/t4/20_Best_Breeds_for_First-Time_Dog_Owners_3132_4371.jpg');
          background-size: cover;
          margin: 1em;
          width: 15em;
          height: 15em;
        }
      }
    }
  }
}
