$slateblu: #6a7989;
$lightgrayOne: #d0d6d6;
$lightgrayTwo: #eee;
$maxWidth: 45em;
$accent: #777;
$animDur: 2s;

@import './fonts.scss';
@import './headerBoxOne.scss';
@import './headerBoxTwo.scss';
@import './previewContainer.scss';

html {
  body.one {
    background-color: $lightgrayOne;
  }
  body.two {
    background-color: $lightgrayTwo;
  }
  body {
    margin: 0;
    padding: 0;
    color: #DDE2E2;
    overflow-x: hidden;
    a {
      text-decoration: none;
    }
    div.fullscreen {
      position: fixed;
      top: 0;
      left: 100vw;
      height: 100%;
      width: 100%;
      background-color: #222;
      z-index: 2;
      transition: all .5s ease;
      canvas {
        display: block;
      }
      &.active {
        left: 0;
        div.close-container {
          div.close {
            div.line {
              width: 22px;
            }
            div.line:first-of-type {
              transform: rotate(45deg) translateY(7px) translateX(5px);
            }
            div.line:nth-of-type(2) {
              width: 0;
            }
            div.line:last-of-type {
              transform: rotate(-45deg) translateY(-1px) translateX(-2px);
            }
          }
        }
      }
      div.close-container {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem 1rem;
        z-index: 2;
        cursor: pointer;
        div.close {
          width: 20px;
          height: 20px;
          div.line {
            width: 15px;
            height: 2px;
            display: block;
            margin-bottom: 2px;
            background-color: #eee;
            transform: rotate(0deg);
            transition: all .2s ease;
          }
        }
      }
    }
    header {
      width: 90%;
      max-width: $maxWidth;
      height: 17rem;
      margin: 2rem auto 0 auto;
      div.box {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: relative;
        // cursor: pointer;
      }
    }
    section.content {
      width: 90%;
      max-width: $maxWidth;
      margin: 0 auto;
      z-index: 1;
      overflow: hidden;
      position: relative;
    }
    footer {
      width: 90%;
      max-width: $maxWidth;
      text-align: center;
      margin: 0 auto;
      padding: 1rem 0;
      font-family: 'Helvetica Neue', Arial;
      font-size: 1rem;
      font-weight: 200;
      font-style: italic;
      color: #333;
      opacity: 0.7;
      background-image: linear-gradient(45deg, #333, rgba(255, 255, 255, 0));
      background-image: -webkit-linear-gradient(45deg, #333, rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(45deg, #333, rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(45deg, #333, rgba(255, 255, 255, 0));
      background-image: -ms-linear-gradient(45deg, #333, rgba(255, 255, 255, 0));
      animation-iteration-count: infinite;
      animation-duration: $animDur;
      animation-direction: alternate;
      animation-name: changeOpacity;
      svg {
        &:hover {
          fill: #fff;
        }
      }
    }
    @keyframes changeOpacity {
      from { opacity: 0.7 }
      to { opacity: 0.8 }
    }
  }
}
