$previewSize: 15rem;
$slateblu: #6a7989;
$lightgray: #d0d6d6;
$time: 4s;
$animDur: 2s;

div.previews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  div.preview-container.hovered {
    div.preview-overlay {
      &:nth-of-type(2) {

      }
      &:nth-of-type(3) {

      }
    }
  }
  div.preview-container {
    width: $previewSize;
    height: $previewSize;
    overflow: hidden;
    background-color: #777;
    z-index: 0;
    position: relative;
    &:hover {

    }
    div.preview-overlay {
      position: absolute;
      width: 15rem;
      height: 15rem;
      background-color: $lightgray;
      transform: rotate(45deg);
      z-index: 1;
      top: 0;
      pointer-events: none;
      &:nth-of-type(2) {
        transform: rotate(45deg);
        margin-left: -12rem;
        margin-top: -12rem;
        animation-iteration-count: infinite;
        animation-duration: $animDur;
        animation-direction: alternate;
        animation-name: retract1;
      }
      &:nth-of-type(3) {
        transform: rotate(45deg);
        animation-iteration-count: infinite;
        animation-duration: $animDur;
        animation-direction: alternate;
        animation-name: retract2;
        margin-left: 12rem;
        margin-top: 12rem;
      }
    }
    div.preview {
      background-image: url('https://s.graphiq.com/sites/default/files/stories/t4/20_Best_Breeds_for_First-Time_Dog_Owners_3132_4371.jpg');
      background-size: cover;
      width: $previewSize;
      height: $previewSize;
      cursor: pointer;
      transform: scale(1);
      transition: .2s all ease;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
  @keyframes retract1 {
    from { margin-left: -12rem; margin-top: -12rem; }
    to { margin-left: -8rem; margin-top: -8rem; }
  }
  @keyframes retract2 {
    from { margin-left: 12rem; margin-top: 12rem; }
    to { margin-left: 8rem; margin-top: 8rem; }
  }
}
