html body {
  margin: 0;
  padding: 0;
  background-color: #d0d6d6;
  color: #DDE2E2;
  overflow-x: hidden; }
  html body a {
    text-decoration: none; }
  html body div.fullscreen {
    position: absolute;
    top: 0;
    left: 100vw;
    height: 100%;
    width: 100%;
    background-color: #222;
    z-index: 1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    html body div.fullscreen.active {
      left: 0; }
      html body div.fullscreen.active div.close-container div.close div.line {
        width: 22px; }
      html body div.fullscreen.active div.close-container div.close div.line:first-of-type {
        -webkit-transform: rotate(45deg) translateY(7px) translateX(5px);
                transform: rotate(45deg) translateY(7px) translateX(5px); }
      html body div.fullscreen.active div.close-container div.close div.line:nth-of-type(2) {
        width: 0; }
      html body div.fullscreen.active div.close-container div.close div.line:last-of-type {
        -webkit-transform: rotate(-45deg) translateY(-1px) translateX(-2px);
                transform: rotate(-45deg) translateY(-1px) translateX(-2px); }
    html body div.fullscreen div.close-container {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem 1rem;
      z-index: 2;
      cursor: pointer; }
      html body div.fullscreen div.close-container div.close {
        width: 20px;
        height: 20px; }
        html body div.fullscreen div.close-container div.close div.line {
          width: 15px;
          height: 2px;
          display: block;
          margin-bottom: 2px;
          background-color: #eee;
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
          -webkit-transition: all .2s ease;
          transition: all .2s ease; }
  html body section.content {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto; }
    html body section.content div.previews-container {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: center;
              justify-content: center; }
      html body section.content div.previews-container div.preview-container {
        width: 15rem;
        height: 15rem;
        margin: 1rem;
        overflow: hidden;
        background-color: #777; }
        html body section.content div.previews-container div.preview-container div.preview {
          background-image: url("https://s.graphiq.com/sites/default/files/stories/t4/20_Best_Breeds_for_First-Time_Dog_Owners_3132_4371.jpg");
          background-size: cover;
          width: 15rem;
          height: 15rem;
          cursor: pointer;
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transition: .2s all ease;
          transition: .2s all ease; }
          html body section.content div.previews-container div.preview-container div.preview:hover {
            -webkit-transform: scale(1.25);
                    transform: scale(1.25); }
