html body {
  margin: 0;
  padding: 0;
  background-color: #d0d6d6;
  color: #DDE2E2; }
  html body a {
    text-decoration: none; }
  html body section.content {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto; }
    html body section.content div.previews-container {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: center;
              justify-content: center; }
      html body section.content div.previews-container div.preview-container {
        width: 15rem;
        height: 15rem;
        margin: 1rem;
        overflow: hidden;
        background-color: #777; }
        html body section.content div.previews-container div.preview-container div.preview {
          background-image: url("https://s.graphiq.com/sites/default/files/stories/t4/20_Best_Breeds_for_First-Time_Dog_Owners_3132_4371.jpg");
          background-size: cover;
          width: 15rem;
          height: 15rem;
          cursor: pointer;
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transition: .2s all ease;
          transition: .2s all ease; }
          html body section.content div.previews-container div.preview-container div.preview:hover {
            -webkit-transform: scale(1.25);
                    transform: scale(1.25); }
